/*
  PROPERTY OF SENDMEPRO DON'T COPY WITHOUT OUR PERMISSION
  © 2021 SendMePro, All Rights Reserved.
*/
.hidden{display: none !important;}
.topbox{position: fixed;width: 100%;top: 0px;left: 0px;height:100%;z-index: 9999;
  background: rgb(228,0,89);
background: -moz-linear-gradient(180deg, rgba(228,0,89,0.5998774509803921) 0%, rgba(195,84,125,0.4962359943977591) 90%);
background: -webkit-linear-gradient(180deg, rgba(228,0,89,0.5998774509803921) 0%, rgba(195,84,125,0.4962359943977591) 90%);
background: linear-gradient(180deg, rgba(228,0,89,0.5998774509803921) 0%, rgba(195,84,125,0.4962359943977591) 90%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e40059",endColorstr="#c3547d",GradientType=1);
}
.topbox .mixed_box{max-height: 50vh;overflow: auto;}
@media screen and (max-height: 650px) {
  .topbox .mixed_box{max-height: 55%;}
}
.topbox .upper-box{width: 600px;margin: 14.6vh auto auto auto;background: white;height: 720px;}
.upper-box {animation-name: _obox_fade;animation-duration: 0.3s;}
@media screen and (max-height: 1000px){
  .topbox .upper-box{height: 70%;}
}
.base-advs{background: #f7e9f3;}
a {
  position: relative;
  display: inline-block;
  padding: 12px 35px;
  margin: 0 0 20px;
  background-color: #e1306c;
  color: white;
  border-radius: 5px;
  transition: all 0.3s;
  letter-spacing: 2px;
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 2px 30px rgba(225, 48, 108, 0.4);
  z-index: 1 !important;
}
a:hover {
  background-color: #e75d8c;
}
.topbox a.bclose{box-shadow: none;border-radius: 0px;}
.topbox a.bclose{color: #1a1a1a;background-color: transparent;padding: 33px 20px;font-size: 15pt;position:absolute;margin-left:241px;top: 14.6vh;}
.topbox a.bclose:hover{color: #692941;}
.topbox a.bclose:active{box-shadow: inset 0 0px 4px rgba(225, 48, 108, 0.4);}
.menu-bar-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.menu-bar,
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #5851db;
  transform: translateY(110%);
  transition: all 0.455s;
}
.menu-bar.active,
.nav-bar.active {
  transform: translateY(0%);
}
.menu-bar i,
.nav-bar i {
  color: rgba(250, 250, 254, 0.5);
  padding: 14px;
  transition: all 0.255s;
  cursor: pointer;
}
.menu-bar i.active,
.nav-bar i.active {
  color: white;
}
.menu-bar i:hover,
.nav-bar i:hover {
  color: white;
}

.nav-bar {
  background-color: #343436;
  transform: translateY(0%);
  position: fixed;
  bottom: 0px;
  z-index: 9999;
}
.nav-bar i {
  color: rgba(255, 255, 255, 0.35);
  padding: 14px;
  transition: all 0.255s;
  cursor: pointer;
}
.nav-bar i.active {
  color: white;
}
.nav-bar i:hover {
  color: #5851db;
}

.dots-wrapper {
  cursor: pointer;
  padding: 5px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}

.dots {
  background-color: #5851db;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  position: absolute;
  top: 0;
}
.dots::after, .dots::before {
  content: "";
  margin-top: 6px;
  display: block;
  width: 4px;
  border-radius: 100%;
  height: 4px;
  background-color: #5851db;
}
.dots::after {
  margin-top: 2px;
}

.wave {
  opacity: 0.4;
  position: absolute;
  left: 50%;
  background: #bc2a8d;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -50px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 5000ms infinite linear;
}

.wave.-three {
  animation: drift 7000ms infinite linear;
  background: white;
  opacity: 1;
}

.wave.-two {
  animation: drift 9000ms infinite linear;
  opacity: 0.4;
  background: #ffdc80;
}
@media screen and (min-width: 830px) {
  a{position:absolute;z-index:99999;top:120px;margin-left:105px;}
  .wave{width:110px;height:110px;margin-top:44px;z-index:9989;margin-left:0px;left:30px;}
  .cube-info{width:880px;display: block;margin-left: auto;margin-right: auto;}
}
@media screen and (max-width: 600px){
  .topbox .upper-box{width: 100%;margin: -20px 0px 0px 0px;height: 100%;}
  .upper-box {animation-name: _obox_leftin;}
  .topbox .mixed_box{max-height: 70% !important;}
  .topbox a.bclose{top: 0px;right: 0px;margin-left: 0px;}
}
@keyframes _obox_leftin {
  from {transform: translate(-110%, 0);}
  to {transform: translate(0%, 0);}
}
@keyframes _obox_fade{
  from {opacity: 0;}
  to {opacity: 1;}
}