/*
	PROPERTY OF SENDMEPRO DON'T COPY WITHOUT OUR PERMISSION
	© 2021 SendMePro, All Rights Reserved.
*/
.baselabel {display: block;margin-top: 8px;margin-bottom: 8px;position: relative;padding-top: 2px;cursor: pointer;font-size: 13pt;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.inp-onelinked .centrebox{padding: 10px 26px 10px 26px;border-style: solid;border-color: #dedcdd;border-width: 1px;}
.inp-onelinked .baselabel input[type=radio] ~ .checks{background-color: #ccc;}
.inp-onelinked .baselabel input[type=radio]:checked ~ .checks{background-color: #963772;}
.inp-onelinked .baselabel input[type=radio] {position: absolute;opacity: 0;cursor: pointer;}
.checks {position: absolute;top: 0;left: 0;height: 25px;width: 25px;background-color: #eee;border-radius: 50%;}
.checks:after {content: "";position: absolute;display: none;}
.inp-onelinked .baselabel input[type=radio]:checked ~ .checks:after {display: block;}
.inp-onelinked .baselabel .checks:after {top:9px;left:9px;width:8px;height:8px;border-radius:50%;background: white;}
.inp-onelinked{margin: 40px 30px 30px 30px;}
.inp-onelinked input,.inp-onelinked select{padding-top: 7px;padding-bottom: 7px;margin-bottom:20px;}
.inp-onelinked input{font-size: 13pt;border-width:1px;border-color: #dedcdd;}
.inp-onelinked select{border:1px solid #dedcdd;}
.inp-onelinked input[type=text],.inp-onelinked input[type=password],.inp-onelinked input[type=number],.inp-onelinked input[type=email],.inp-onelinked select{width: 270px;}
.inp-onelinked input:disabled,.inp-onelinked input[type=button]:disabled,.inp-onelinked input[type=submit]:disabled{background: #ada5a9;color: #dedcdd !important;}
.inp-onelinked input[type=button],.inp-onelinked input[type=submit]{color: #262626;border-color:#c9c3c6;padding: 7px 40px 7px 40px;}
.inp-onelinked input::placeholder{color: #dedcdd;}
.inp-onelinked input, .inp-onelinked input:active{border-style: solid;outline: none;}
.inp-onelinked input:focus,.inp-onelinked input:hover,.inp-onelinked input:hover::placeholder{border-bottom-color: #d40882;color: #d40882;border-bottom-width:2px;animation-name: _oinput_txt;animation-duration: 0.4s;}
.inp-onelinked input[type=button]:hover,.inp-onelinked input[type=submit]:hover{color:#fff;background:#d40882;border-bottom-width:0px !important;animation-name: _oinput_btn_only;animation-duration: 0.4s;}
.inp-onelinked a{color: #82235c !important;position: relative !important;top: 0px !important;margin-left: 0px !important;padding: 15px 0px 0px 0px;letter-spacing: 0.5px;background: transparent;box-shadow: none;color: black;}
.inp-onelinked a:hover{color: #d40882 !important;}
.option_box {display: inline-block !important;position: relative;text-align: center !important;width: 100% !important;margin: auto;}
.option_box > div {text-align: center !important;display: inherit;margin-left: 2px;margin-right: 2px;width: 44.5%;}
.option_box > div > input{width: 100%;}
@media screen and (max-width: 830px){
	.inp-onelinked input,.inp-onelinked select{display: block;margin-left: auto;margin-right: auto;width: 84% !important;}
}
@media screen and (max-width: 600px){
	.option_box {position: fixed;bottom: 0px;left: 0px;text-align: right !important;}
	.option_box > div {margin: 0px;width: 50%;display: inline-block;}
	.option_box > div > input {margin: 0px !important;width: 100% !important;padding: 11px 40px 11px 40px !important;}
}
@keyframes _oinput_txt {
	from {border-bottom-color: #dedcdd;color: #dedcdd;}
	to {border-bottom-color: #d40882;color: #d40882;}
}
@keyframes _oinput_btn_only {
	from {color: #262626;background:transparent;}
	to {color: #fff;background:#d40882;}
}